<script id="bioTemplate" type="text/x-jquery-tmpl">
	<div class="bioContainer">
		<div class="bioClose">
			<img src="resources/close.png" />
		</div>

		<div class="bioText">
			<img src="resources/bioPhoto.png" class="bioPhoto" />

			<h3 class="marginBottom10px">I like coding. Always did.</h3>
			
			<p class="moderateText marginBottom10px justified">And I 've been doing it since I was very little. Didn't plan on it, mind you. After all there's very little a 9 - year old fat kid could plan, but I was instantly in love with it, after my first qbasic program worked. I 'm addicted to that special feeling you get when something you make works.</p> 
			
			<p class="moderateText marginBottom10px blue justified">More to the professional side of things, I 've been employed in a variety of coding positions over the years, from developing web  sites to designing windows ERP clients. I currently work in the coding team of E-Travel S.A., maintaining their back office and a number of web applications, mostly in C#. In my free time, I also contribute to the perpetual redesign of this blog 's front and back end, read about and test new tech, or enjoy a few cold ones with my friends.</p>
			
			<p class="moderateText marginBottom10px lightGrey justified">I consider myself having moderate social skills, tempered by years of teamwork, and I 'm always on the lookout for new projects and experiments to play with. So if what you need is a quote or simply to discuss your ideas I will be more than happy to oblige. Till then, have fun, scour this site for all it may be worth, and, to quote my favorite author, "so long, and thanks for all the fish".</p>
		</div>
	</div>
</script>