h1 { font-size: 1.5em; }
h3 { font-size: 1.1em; }
.time { font-size: 0.6em; }

.entry .preview, .entry .content { 
    line-height: 1.1em;
    font-size: 12px; 
}

.readmore {
    font-size: 12px;
    font-weight: bold;
}

#twitter {
    font-size: 12px;
}

#github {
    font-size: 12px;
}

#stack_overflow {
    font-size: 12px;
}

.bioText {
    font-size: 12px;
}